header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__background {
    position: absolute;
    width: 100%;
    height: 235px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.header__wrapper {
    position: relative;
    width: 77.5%;
    display: flex;
    justify-content: space-between;

    margin-top: 39px;
}

.header__content {
    .header__title {
        font-size: 28.1px;
        font-weight: 600;
    }

    .header__followers {
        font-size: 13.6px;
        font-weight: 600;
        margin-top: 2px;
    }
}

.header__theme-toggle {
    display: flex;
    align-items: center;
    gap: 13px;

    .header__theme-label {
        font-weight: bold;
        font-size: 13px;
    }

    .header__theme-button {
        position: relative;

        width: 44px;
        height: 24px;
        border: none;
        outline: none;
        border-radius: 20px;
        cursor: pointer;

        .header__theme-circle {
            position: absolute;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: left 0.3s ease;
        }
    }
}
